<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="panel">
        <h3 class="review_title">文章详情</h3>
        <div class="from_group"></div>
        <div class="from_group"></div>
        <div class="from_group"></div>
        <div class="from_group"></div>
        <div class="from_group"></div>
    </div>
</body>
</html>