<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- <h1>注册页面</h1> -->
    <!-- 跳转html -->
    <form class="login_form" name="login" action="/login" method="post">
        <h1 class="login_title">用户登录</h1>
        <input class="input_txt" type="text" name="userName">
        <input class="input_txt" type="password" name="pwd">
        <div class="remember"><input type="checkbox" name="remember"><label>记住用户名</label></div>
        <input type="submit" value="Login" class="input_sub">
    </form>
    <div class="login_bg"></div>
</body>

</html>