<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="pannel">
        <!-- route+methods -->
        <form action="/update?id={{.article.Id}}" method="Post" enctype="multipart/form-data">
            <div class="form_group">
                <label for="">title</label>
                <input type="text" class="input_txt2" name="articleName" , value="{{.article.ArtiName}}">
            </div>
            <div class="form_group">
                <label for="">content</label>
                <textarea name="content" id="" cols="30" rows="10">{{.article.Acontent}}</textarea>
            </div>
            <div class="form_group">
                <label for="">update file</label>
                <img src="{{.article.Aimg}}" alt="" name="imgName">
                <input type="file" name="uploadname" class="input_file">
            </div>
            <div class="form_group indent_group line_top">
                <input type="submit" value="update" class="confirm">
                <span>{{.errmsg}}</span>
            </div>
            <!-- <div class="form_group"></div> -->
        </form>
    </div>
</body>
</html>